In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('./prd_review_sample.pkl')

In [100]:
df.to_excel('./prd_review_sample.xlsx')

In [36]:
df.columns

Index(['AGE', 'AGE_LIMIT_FLAG', 'BBS_ID', 'BEST_CHOICEDATE', 'BEST_CHOICEUSER',
       'BEST_FLAG', 'BEST_YEAR_SALE_POINT', 'BUYER_FLAG', 'BUYER_REPLY_COUNT',
       'CHANL_CD', 'CHOICE_DATE', 'CHOICE_FLAG', 'CHOICE_PRDID',
       'COMMENT_COUNT', 'CONTENTS_FLAG', 'CREDATE', 'CREUSER', 'CUS_GRADE',
       'DBSTS', 'DSCR_BYTES', 'ECUSERID', 'END_DATE', 'EVAL_NAME1',
       'EVAL_NAME2', 'EVAL_NAME3', 'EVAL_NAME4', 'EVAL_VALUE1', 'EVAL_VALUE2',
       'EVAL_VALUE3', 'EVAL_VALUE4', 'FILE_STS', 'GUBUN', 'IMAGE_LIMIT_FLAG',
       'INDEX_COLUMN', 'IP_ADDRESS', 'LSECTID', 'MESSAGE_FLAG', 'MESSAGE_ID',
       'MESSAGE_LEVEL', 'MSECTID', 'NICK_NAME', 'OPPOSITION_COUNT', 'ORDNUM',
       'ORD_OPTION1_NM', 'ORD_OPTION2_NM', 'ORD_OPTION3_NM',
       'ORD_OPTION_DISP_YN', 'PARENT_MESSAGE_ID', 'PARTICIPANT_COUNT', 'POINT',
       'PRDID', 'PRDID2', 'PRDID3', 'PRDID4', 'PRDNAME', 'PRD_COUNT',
       'PRD_SATISFACT', 'PROMO_NUM', 'READ_COUNT', 'REMARK', 'REPLY_ADOPT',
       'REPLY_COUNT', 'REPORT_FLAG', 'RPST_FLAG', 'RPST_PRDID', 'SAVE_ROOT',
       'SCRAP_COUNT', 'SMS_FLAG', 'START_DATE', 'SUB_NAME', 'TITLE', 'UPDDATE',
       'UPDUSER', 'URGENT_FLAG', 'YEAR_SALE_POINT'],
      dtype='object')

In [108]:
df_null = df.isna().sum().to_frame()

In [109]:
df_null.columns = ['counts']

In [39]:
df_null.loc[df_null['counts'] < 1000, :]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AGE_LIMIT_FLAG</th>
      <td>8</td>
    </tr>
    <tr>
      <th>BBS_ID</th>
      <td>0</td>
    </tr>
    <tr>
      <th>BUYER_FLAG</th>
      <td>8</td>
    </tr>
    <tr>
      <th>BUYER_REPLY_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>CHANL_CD</th>
      <td>8</td>
    </tr>
    <tr>
      <th>COMMENT_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>CONTENTS_FLAG</th>
      <td>8</td>
    </tr>
    <tr>
      <th>CREDATE</th>
      <td>0</td>
    </tr>
    <tr>
      <th>CREUSER</th>
      <td>8</td>
    </tr>
    <tr>
      <th>CUS_GRADE</th>
      <td>8</td>
    </tr>
    <tr>
      <th>DBSTS</th>
      <td>0</td>
    </tr>
    <tr>
      <th>ECUSERID</th>
      <td>0</td>
    </tr>
    <tr>
      <th>EVAL_NAME1</th>
      <td>8</td>
    </tr>
    <tr>
      <th>EVAL_NAME2</th>
      <td>8</td>
    </tr>
    <tr>
      <th>EVAL_NAME3</th>
      <td>8</td>
    </tr>
    <tr>
      <th>EVAL_NAME4</th>
      <td>8</td>
    </tr>
    <tr>
      <th>EVAL_VALUE1</th>
      <td>0</td>
    </tr>
    <tr>
      <th>EVAL_VALUE2</th>
      <td>0</td>
    </tr>
    <tr>
      <th>EVAL_VALUE3</th>
      <td>0</td>
    </tr>
    <tr>
      <th>EVAL_VALUE4</th>
      <td>0</td>
    </tr>
    <tr>
      <th>INDEX_COLUMN</th>
      <td>8</td>
    </tr>
    <tr>
      <th>IP_ADDRESS</th>
      <td>8</td>
    </tr>
    <tr>
      <th>LSECTID</th>
      <td>97</td>
    </tr>
    <tr>
      <th>MESSAGE_ID</th>
      <td>0</td>
    </tr>
    <tr>
      <th>MESSAGE_LEVEL</th>
      <td>0</td>
    </tr>
    <tr>
      <th>MSECTID</th>
      <td>97</td>
    </tr>
    <tr>
      <th>NICK_NAME</th>
      <td>62</td>
    </tr>
    <tr>
      <th>OPPOSITION_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>ORDNUM</th>
      <td>8</td>
    </tr>
    <tr>
      <th>ORD_OPTION_DISP_YN</th>
      <td>8</td>
    </tr>
    <tr>
      <th>PARTICIPANT_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>POINT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>PRDID</th>
      <td>0</td>
    </tr>
    <tr>
      <th>PRDNAME</th>
      <td>8</td>
    </tr>
    <tr>
      <th>PRD_SATISFACT</th>
      <td>8</td>
    </tr>
    <tr>
      <th>READ_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>REMARK</th>
      <td>8</td>
    </tr>
    <tr>
      <th>REPLY_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>SAVE_ROOT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>SCRAP_COUNT</th>
      <td>0</td>
    </tr>
    <tr>
      <th>TITLE</th>
      <td>8</td>
    </tr>
    <tr>
      <th>UPDDATE</th>
      <td>8</td>
    </tr>
    <tr>
      <th>UPDUSER</th>
      <td>8</td>
    </tr>
    <tr>
      <th>YEAR_SALE_POINT</th>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [104]:
df_schema = pd.read_clipboard()

/home/admin-/anaconda3/lib/python3.6/site-packages/pandas/io/clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [105]:
df_schema.columns = ['names', 'logics', 'datatype']
df_schema

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>names</th>
      <th>logics</th>
      <th>datatype</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>MESSAGE_ID</td>
      <td>게시물번호</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>DBSTS</td>
      <td>상태</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BBS_ID</td>
      <td>게시판번호</td>
      <td>VARCHAR2(20)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>MESSAGE_LEVEL</td>
      <td>게시물레벨</td>
      <td>NUMBER(5)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>PARENT_MESSAGE_ID</td>
      <td>상위게시물번호</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ECUSERID</td>
      <td>고객번호</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>TITLE</td>
      <td>제목</td>
      <td>VARCHAR2(750)</td>
    </tr>
    <tr>
      <th>7</th>
      <td>NICK_NAME</td>
      <td>닉네임</td>
      <td>VARCHAR2(75)</td>
    </tr>
    <tr>
      <th>8</th>
      <td>IP_ADDRESS</td>
      <td>IP주소</td>
      <td>VARCHAR2(20)</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AGE_LIMIT_FLAG</td>
      <td>연령제한여부</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>10</th>
      <td>REPORT_FLAG</td>
      <td>신고여부</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>11</th>
      <td>LSECTID</td>
      <td>대분류</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>12</th>
      <td>MSECTID</td>
      <td>중분류</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>13</th>
      <td>RPST_PRDID</td>
      <td>대표상품코드</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>14</th>
      <td>PRDID</td>
      <td>상품코드</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>15</th>
      <td>PRDNAME</td>
      <td>상품명</td>
      <td>VARCHAR2(480)</td>
    </tr>
    <tr>
      <th>16</th>
      <td>BUYER_FLAG</td>
      <td>구매자여부</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>17</th>
      <td>MESSAGE_FLAG</td>
      <td>우수상품평구분</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>18</th>
      <td>CONTENTS_FLAG</td>
      <td>첨부파일구분</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>19</th>
      <td>SMS_FLAG</td>
      <td>SMS알림여부</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>20</th>
      <td>PRDID2</td>
      <td>상품코드2</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>21</th>
      <td>PRDID3</td>
      <td>상품코드3</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>22</th>
      <td>PRDID4</td>
      <td>상품코드4</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>23</th>
      <td>URGENT_FLAG</td>
      <td>긴급여부</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>24</th>
      <td>START_DATE</td>
      <td>시작일시</td>
      <td>DATE</td>
    </tr>
    <tr>
      <th>25</th>
      <td>END_DATE</td>
      <td>종료일시</td>
      <td>DATE</td>
    </tr>
    <tr>
      <th>26</th>
      <td>CHOICE_FLAG</td>
      <td>선택여부</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>27</th>
      <td>CHOICE_PRDID</td>
      <td>선택상품</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>28</th>
      <td>CHOICE_DATE</td>
      <td>선택일시</td>
      <td>DATE</td>
    </tr>
    <tr>
      <th>29</th>
      <td>PRD_COUNT</td>
      <td>연관상품수</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>45</th>
      <td>COMMENT_COUNT</td>
      <td>꼬리글수</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>46</th>
      <td>SCRAP_COUNT</td>
      <td>스크랩수</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>47</th>
      <td>POINT</td>
      <td>포인트</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>48</th>
      <td>REMARK</td>
      <td>비고(해피테스터일 경우 Y)</td>
      <td>VARCHAR2(1500)</td>
    </tr>
    <tr>
      <th>49</th>
      <td>INDEX_COLUMN</td>
      <td>정렬컬럼</td>
      <td>VARCHAR2(100)</td>
    </tr>
    <tr>
      <th>50</th>
      <td>CREUSER</td>
      <td>작성자</td>
      <td>VARCHAR2(80)</td>
    </tr>
    <tr>
      <th>51</th>
      <td>CREDATE</td>
      <td>작성일시</td>
      <td>DATE</td>
    </tr>
    <tr>
      <th>52</th>
      <td>UPDUSER</td>
      <td>수정자</td>
      <td>VARCHAR2(80)</td>
    </tr>
    <tr>
      <th>53</th>
      <td>UPDDATE</td>
      <td>수정일시</td>
      <td>DATE</td>
    </tr>
    <tr>
      <th>54</th>
      <td>GUBUN</td>
      <td>일반/어린이 독후감 구분 (1:일반, 2:어린이 독후감)</td>
      <td>VARCHAR2(10)</td>
    </tr>
    <tr>
      <th>55</th>
      <td>AGE</td>
      <td>어린이독후감-나이(EC_REFSET.REFSETID=2073 참조)</td>
      <td>NUMBER(3)</td>
    </tr>
    <tr>
      <th>56</th>
      <td>SUB_NAME</td>
      <td>어린이 독후감-별명</td>
      <td>VARCHAR2(150)</td>
    </tr>
    <tr>
      <th>57</th>
      <td>ORDNUM</td>
      <td>CATV 주문번호</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>58</th>
      <td>RPST_FLAG</td>
      <td>대표상품평노출여부 Y:노출 N:비노출</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>59</th>
      <td>ORD_OPTION1_NM</td>
      <td>구매옵션명1</td>
      <td>VARCHAR2(750)</td>
    </tr>
    <tr>
      <th>60</th>
      <td>ORD_OPTION2_NM</td>
      <td>구매옵션명2</td>
      <td>VARCHAR2(750)</td>
    </tr>
    <tr>
      <th>61</th>
      <td>ORD_OPTION3_NM</td>
      <td>구매옵션명3</td>
      <td>VARCHAR2(500)</td>
    </tr>
    <tr>
      <th>62</th>
      <td>YEAR_SALE_POINT</td>
      <td>연간할인권 지급금액</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>63</th>
      <td>SAVE_ROOT</td>
      <td>고객저장경로</td>
      <td>VARCHAR2(10)</td>
    </tr>
    <tr>
      <th>64</th>
      <td>CUS_GRADE</td>
      <td>고객등급- AA:다이아몬드, BB: 에메랄드, CC: 사파이어, DD:루비, EE:...</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>65</th>
      <td>DSCR_BYTES</td>
      <td>본문 Bytes</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>66</th>
      <td>ORD_OPTION_DISP_YN</td>
      <td>구매옵션노출여부(Y:노출, N:비노출)</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>67</th>
      <td>BEST_YEAR_SALE_POINT</td>
      <td>베스트 상품평 선정 연간할인권 지급금액</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>68</th>
      <td>BEST_FLAG</td>
      <td>베스트 상품평 여부 (C: 후보, B: 선정)</td>
      <td>VARCHAR2(1)</td>
    </tr>
    <tr>
      <th>69</th>
      <td>BEST_CHOICEUSER</td>
      <td>베스트 상품평 선정자</td>
      <td>VARCHAR2(80)</td>
    </tr>
    <tr>
      <th>70</th>
      <td>BEST_CHOICEDATE</td>
      <td>베스트 상품평 선정일시</td>
      <td>DATE</td>
    </tr>
    <tr>
      <th>71</th>
      <td>FILE_STS</td>
      <td>첨부화일삭제여부(F)</td>
      <td>VARCHAR2(1)</td>
    </tr>
    <tr>
      <th>72</th>
      <td>PROMO_NUM</td>
      <td>프로모션번호</td>
      <td>NUMBER(15)</td>
    </tr>
    <tr>
      <th>73</th>
      <td>IMAGE_LIMIT_FLAG</td>
      <td>NaN</td>
      <td>VARCHAR2(2)</td>
    </tr>
    <tr>
      <th>74</th>
      <td>CHANL_CD</td>
      <td>NaN</td>
      <td>VARCHAR2(2)</td>
    </tr>
  </tbody>
</table>
<p>75 rows × 3 columns</p>
</div>

In [106]:
df_schema = df_schema.set_index(['names'])
del df_schema.index.name

In [110]:
df_schema = df_schema.join(df_null)

In [111]:
df_schema.columns = ['col_name', 'datatype', 'null_counts']

In [112]:
df_schema.null_counts.describe()

count       75.000000
mean      3953.786667
std       4855.592558
min          0.000000
25%          0.000000
50%          8.000000
75%      10000.000000
max      10000.000000
Name: null_counts, dtype: float64

In [113]:
df_useful_schema = df_schema.loc[df_schema['null_counts']<500]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col_name</th>
      <th>datatype</th>
      <th>null_counts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>MESSAGE_ID</th>
      <td>게시물번호</td>
      <td>NUMBER(15)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>DBSTS</th>
      <td>상태</td>
      <td>VARCHAR2(2)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>BBS_ID</th>
      <td>게시판번호</td>
      <td>VARCHAR2(20)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>MESSAGE_LEVEL</th>
      <td>게시물레벨</td>
      <td>NUMBER(5)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>PARENT_MESSAGE_ID</th>
      <td>상위게시물번호</td>
      <td>NUMBER(15)</td>
      <td>9992</td>
    </tr>
    <tr>
      <th>ECUSERID</th>
      <td>고객번호</td>
      <td>NUMBER(15)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>TITLE</th>
      <td>제목</td>
      <td>VARCHAR2(750)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>NICK_NAME</th>
      <td>닉네임</td>
      <td>VARCHAR2(75)</td>
      <td>62</td>
    </tr>
    <tr>
      <th>IP_ADDRESS</th>
      <td>IP주소</td>
      <td>VARCHAR2(20)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>AGE_LIMIT_FLAG</th>
      <td>연령제한여부</td>
      <td>VARCHAR2(2)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>REPORT_FLAG</th>
      <td>신고여부</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>LSECTID</th>
      <td>대분류</td>
      <td>NUMBER(15)</td>
      <td>97</td>
    </tr>
    <tr>
      <th>MSECTID</th>
      <td>중분류</td>
      <td>NUMBER(15)</td>
      <td>97</td>
    </tr>
    <tr>
      <th>RPST_PRDID</th>
      <td>대표상품코드</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>PRDID</th>
      <td>상품코드</td>
      <td>NUMBER(15)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>PRDNAME</th>
      <td>상품명</td>
      <td>VARCHAR2(480)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>BUYER_FLAG</th>
      <td>구매자여부</td>
      <td>VARCHAR2(2)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>MESSAGE_FLAG</th>
      <td>우수상품평구분</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>CONTENTS_FLAG</th>
      <td>첨부파일구분</td>
      <td>VARCHAR2(2)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>SMS_FLAG</th>
      <td>SMS알림여부</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>PRDID2</th>
      <td>상품코드2</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>PRDID3</th>
      <td>상품코드3</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>PRDID4</th>
      <td>상품코드4</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>URGENT_FLAG</th>
      <td>긴급여부</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>START_DATE</th>
      <td>시작일시</td>
      <td>DATE</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>END_DATE</th>
      <td>종료일시</td>
      <td>DATE</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>CHOICE_FLAG</th>
      <td>선택여부</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>CHOICE_PRDID</th>
      <td>선택상품</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>CHOICE_DATE</th>
      <td>선택일시</td>
      <td>DATE</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>PRD_COUNT</th>
      <td>연관상품수</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>COMMENT_COUNT</th>
      <td>꼬리글수</td>
      <td>NUMBER(15)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>SCRAP_COUNT</th>
      <td>스크랩수</td>
      <td>NUMBER(15)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>POINT</th>
      <td>포인트</td>
      <td>NUMBER(15)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>REMARK</th>
      <td>비고(해피테스터일 경우 Y)</td>
      <td>VARCHAR2(1500)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>INDEX_COLUMN</th>
      <td>정렬컬럼</td>
      <td>VARCHAR2(100)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>CREUSER</th>
      <td>작성자</td>
      <td>VARCHAR2(80)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>CREDATE</th>
      <td>작성일시</td>
      <td>DATE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>UPDUSER</th>
      <td>수정자</td>
      <td>VARCHAR2(80)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>UPDDATE</th>
      <td>수정일시</td>
      <td>DATE</td>
      <td>8</td>
    </tr>
    <tr>
      <th>GUBUN</th>
      <td>일반/어린이 독후감 구분 (1:일반, 2:어린이 독후감)</td>
      <td>VARCHAR2(10)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>AGE</th>
      <td>어린이독후감-나이(EC_REFSET.REFSETID=2073 참조)</td>
      <td>NUMBER(3)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>SUB_NAME</th>
      <td>어린이 독후감-별명</td>
      <td>VARCHAR2(150)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>ORDNUM</th>
      <td>CATV 주문번호</td>
      <td>NUMBER(15)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>RPST_FLAG</th>
      <td>대표상품평노출여부 Y:노출 N:비노출</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>ORD_OPTION1_NM</th>
      <td>구매옵션명1</td>
      <td>VARCHAR2(750)</td>
      <td>4321</td>
    </tr>
    <tr>
      <th>ORD_OPTION2_NM</th>
      <td>구매옵션명2</td>
      <td>VARCHAR2(750)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>ORD_OPTION3_NM</th>
      <td>구매옵션명3</td>
      <td>VARCHAR2(500)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>YEAR_SALE_POINT</th>
      <td>연간할인권 지급금액</td>
      <td>NUMBER(15)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>SAVE_ROOT</th>
      <td>고객저장경로</td>
      <td>VARCHAR2(10)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>CUS_GRADE</th>
      <td>고객등급- AA:다이아몬드, BB: 에메랄드, CC: 사파이어, DD:루비, EE:...</td>
      <td>VARCHAR2(2)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>DSCR_BYTES</th>
      <td>본문 Bytes</td>
      <td>NUMBER(15)</td>
      <td>2091</td>
    </tr>
    <tr>
      <th>ORD_OPTION_DISP_YN</th>
      <td>구매옵션노출여부(Y:노출, N:비노출)</td>
      <td>VARCHAR2(2)</td>
      <td>8</td>
    </tr>
    <tr>
      <th>BEST_YEAR_SALE_POINT</th>
      <td>베스트 상품평 선정 연간할인권 지급금액</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>BEST_FLAG</th>
      <td>베스트 상품평 여부 (C: 후보, B: 선정)</td>
      <td>VARCHAR2(1)</td>
      <td>9706</td>
    </tr>
    <tr>
      <th>BEST_CHOICEUSER</th>
      <td>베스트 상품평 선정자</td>
      <td>VARCHAR2(80)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>BEST_CHOICEDATE</th>
      <td>베스트 상품평 선정일시</td>
      <td>DATE</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>FILE_STS</th>
      <td>첨부화일삭제여부(F)</td>
      <td>VARCHAR2(1)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>PROMO_NUM</th>
      <td>프로모션번호</td>
      <td>NUMBER(15)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>IMAGE_LIMIT_FLAG</th>
      <td>NaN</td>
      <td>VARCHAR2(2)</td>
      <td>10000</td>
    </tr>
    <tr>
      <th>CHANL_CD</th>
      <td>NaN</td>
      <td>VARCHAR2(2)</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
<p>75 rows × 3 columns</p>
</div>

In [165]:
df.loc[:, df_schema.index[30:40]].head(20)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>REPLY_ADOPT</th>
      <th>PRD_SATISFACT</th>
      <th>EVAL_NAME1</th>
      <th>EVAL_VALUE1</th>
      <th>EVAL_NAME2</th>
      <th>EVAL_VALUE2</th>
      <th>EVAL_NAME3</th>
      <th>EVAL_VALUE3</th>
      <th>EVAL_NAME4</th>
      <th>EVAL_VALUE4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>1</th>
      <td>None</td>
      <td>ZA==</td>
      <td>신선도</td>
      <td>BQ==</td>
      <td>맛</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>서비스</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>2</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>3</th>
      <td>None</td>
      <td>FA==</td>
      <td>신선도</td>
      <td>AQ==</td>
      <td>맛</td>
      <td>AQ==</td>
      <td>배송</td>
      <td>AQ==</td>
      <td>서비스</td>
      <td>AQ==</td>
    </tr>
    <tr>
      <th>4</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>5</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>6</th>
      <td>None</td>
      <td>ZA==</td>
      <td>신선도</td>
      <td>BQ==</td>
      <td>맛</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>서비스</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>7</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>8</th>
      <td>None</td>
      <td>ZA==</td>
      <td>신선도</td>
      <td>BQ==</td>
      <td>맛</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>서비스</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>9</th>
      <td>None</td>
      <td>PA==</td>
      <td>신선도</td>
      <td>Aw==</td>
      <td>맛</td>
      <td>Aw==</td>
      <td>배송</td>
      <td>Aw==</td>
      <td>서비스</td>
      <td>Aw==</td>
    </tr>
    <tr>
      <th>10</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>11</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>12</th>
      <td>None</td>
      <td>Rg==</td>
      <td>디자인</td>
      <td>Aw==</td>
      <td>품질</td>
      <td>Aw==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>Aw==</td>
    </tr>
    <tr>
      <th>13</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>14</th>
      <td>None</td>
      <td>ZA==</td>
      <td>신선도</td>
      <td>BQ==</td>
      <td>맛</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>서비스</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>15</th>
      <td>None</td>
      <td>Wg==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>Aw==</td>
    </tr>
    <tr>
      <th>16</th>
      <td>None</td>
      <td>ZA==</td>
      <td>포장</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>서비스</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>17</th>
      <td>None</td>
      <td>ZA==</td>
      <td>신선도</td>
      <td>BQ==</td>
      <td>맛</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>서비스</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>18</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
    <tr>
      <th>19</th>
      <td>None</td>
      <td>ZA==</td>
      <td>디자인</td>
      <td>BQ==</td>
      <td>품질</td>
      <td>BQ==</td>
      <td>배송</td>
      <td>BQ==</td>
      <td>사용만족도</td>
      <td>BQ==</td>
    </tr>
  </tbody>
</table>
</div>

In [202]:
# bytearray([y])
byte = "Aw==".encode('utf8')
print(byte.decode('ASCII'))
print(float(str(int.from_bytes(byte, 'big'))))

Aw==
1098333501.0

In [203]:
int('01000001011101110011110100111101', 2)

1098333501

In [71]:
df_useful_schema.index

Index(['MESSAGE_ID', 'DBSTS', 'BBS_ID', 'MESSAGE_LEVEL', 'ECUSERID', 'TITLE',
       'NICK_NAME', 'IP_ADDRESS', 'AGE_LIMIT_FLAG', 'LSECTID', 'MSECTID',
       'PRDID', 'PRDNAME', 'BUYER_FLAG', 'CONTENTS_FLAG', 'PRD_SATISFACT',
       'EVAL_NAME1', 'EVAL_VALUE1', 'EVAL_NAME2', 'EVAL_VALUE2', 'EVAL_NAME3',
       'EVAL_VALUE3', 'EVAL_NAME4', 'EVAL_VALUE4', 'READ_COUNT',
       'PARTICIPANT_COUNT', 'OPPOSITION_COUNT', 'REPLY_COUNT',
       'BUYER_REPLY_COUNT', 'COMMENT_COUNT', 'SCRAP_COUNT', 'POINT', 'REMARK',
       'INDEX_COLUMN', 'CREUSER', 'CREDATE', 'UPDUSER', 'UPDDATE', 'ORDNUM',
       'YEAR_SALE_POINT', 'SAVE_ROOT', 'CUS_GRADE', 'ORD_OPTION_DISP_YN',
       'CHANL_CD'],
      dtype='object')

In [125]:
df_useful_schema.iloc[[0,5,12, 14, 15, 16,17,18,19,20,21,22,23,40,41],:].index.tolist() + ['BEST_FLAG', 'ORD_OPTION1_NM']

['MESSAGE_ID',
 'TITLE',
 'PRDNAME',
 'CONTENTS_FLAG',
 'PRD_SATISFACT',
 'EVAL_NAME1',
 'EVAL_VALUE1',
 'EVAL_NAME2',
 'EVAL_VALUE2',
 'EVAL_NAME3',
 'EVAL_VALUE3',
 'EVAL_NAME4',
 'EVAL_VALUE4',
 'SAVE_ROOT',
 'CUS_GRADE',
 'BEST_FLAG']

In [122]:
df.loc[:, 'CUS_GRADE'].isna().sum()

8