In [1]:
import pandas as pd

In [6]:
df_2018 = pd.read_excel('./depreciation_cost_original.xlsx', sheet_name=0)
df_2019 = pd.read_excel('./depreciation_cost_original.xlsx', sheet_name=1)

In [7]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 25 columns):
자산번호                    1848 non-null float64
    보조번호                1848 non-null float64
자산클래스                   1848 non-null float64
자산클래스명                  1848 non-null object
자산내역                    1848 non-null object
자산상세내역                  601 non-null object
분류                      1846 non-null object
분류명                     1846 non-null object
자본화연도                   1848 non-null float64
자본화월                    1848 non-null object
자본화일                    1848 non-null object
  수  량                  1848 non-null float64
본부/부문                   1848 non-null object
코스트센터                   1848 non-null float64
코스트센터명                  1848 non-null object
사업영역                    1848 non-null object
담당코스트센타                 1848 non-null float64
담당코스트센터명                1848 non-null object
    내용연수                1848 non-null float64
Serial No.              5 non-null object
            유지보수금액      0 non-null float64
유지보수율                   0 non-null float64
Warranty기간              0 non-null float64
총취득원가                   1849 non-null float64
          전기말감가상각누계액    1848 non-null float64
dtypes: float64(13), object(12)
memory usage: 361.4+ KB

In [4]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>자산번호</th>
      <th>보조번호</th>
      <th>자산클래스</th>
      <th>자산클래스명</th>
      <th>자산내역</th>
      <th>자산상세내역</th>
      <th>분류</th>
      <th>분류명</th>
      <th>연도</th>
      <th>자본화일</th>
      <th>...</th>
      <th>코스트센터명</th>
      <th>사업영역</th>
      <th>담당코스트센타</th>
      <th>담당코스트센터명</th>
      <th>내용연수</th>
      <th>Serial No.</th>
      <th>유지보수금액</th>
      <th>유지보수율</th>
      <th>Warranty기간</th>
      <th>총취득원가</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45005123.0</td>
      <td>0.0</td>
      <td>4500.0</td>
      <td>전산장비</td>
      <td>N-LG-U460-14-i5</td>
      <td>NaN</td>
      <td>4B02</td>
      <td>전산장비-노트북PC</td>
      <td>2014.0</td>
      <td>2014.01.01</td>
      <td>...</td>
      <td>IT개발운영팀</td>
      <td>BA08</td>
      <td>48001.0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>930150.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45005124.0</td>
      <td>0.0</td>
      <td>4500.0</td>
      <td>전산장비</td>
      <td>L-LG-23MP55HQ</td>
      <td>NaN</td>
      <td>4B05</td>
      <td>전산장비-모니터</td>
      <td>2014.0</td>
      <td>2014.01.01</td>
      <td>...</td>
      <td>디지털콘텐츠사업본부</td>
      <td>BA01</td>
      <td>48001.0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>176931.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45005125.0</td>
      <td>0.0</td>
      <td>4500.0</td>
      <td>전산장비</td>
      <td>N-LG-U460-14-i5</td>
      <td>NaN</td>
      <td>4B02</td>
      <td>전산장비-노트북PC</td>
      <td>2014.0</td>
      <td>2014.01.01</td>
      <td>...</td>
      <td>IT개발운영팀</td>
      <td>BA08</td>
      <td>48001.0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>930150.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45005126.0</td>
      <td>0.0</td>
      <td>4500.0</td>
      <td>전산장비</td>
      <td>D-LG-Z70PS-i5</td>
      <td>NaN</td>
      <td>4B01</td>
      <td>전산장비-데스크탑PC</td>
      <td>2014.0</td>
      <td>2014.01.01</td>
      <td>...</td>
      <td>IT개발운영팀</td>
      <td>BA08</td>
      <td>48001.0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>808826.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>45005127.0</td>
      <td>0.0</td>
      <td>4500.0</td>
      <td>전산장비</td>
      <td>L-LG-23MP55HQ</td>
      <td>NaN</td>
      <td>4B05</td>
      <td>전산장비-모니터</td>
      <td>2014.0</td>
      <td>2014.01.01</td>
      <td>...</td>
      <td>웰빙라이프팀</td>
      <td>BA01</td>
      <td>48001.0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>176931.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 22 columns</p>
</div>