In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df_2018 = pd.read_excel('./depreciation_cost_original.xlsx', sheet_name=0)
df_2019 = pd.read_excel('./depreciation_cost_original.xlsx', sheet_name=1)
df = df_2019

In [3]:
df.columns = [col.strip() for col in df.columns]

In [4]:
column_dict = {'Serial No.': 'serial_no',
 'Warranty기간': 'warranty_period',
 '내용연수': 'years',
 '담당코스트센타': 'cost_depart_id',
 '담당코스트센터명': 'cost_depart_name',
 '보조번호': 'sub_id',
 '본부/부문': 'section_name',
 '분류': 'cate_id',
 '분류명': 'cate_name',
 '사업영역': 'business_area',
 '수  량': 'val',
 '유지보수금액': 'maintenance_cost',
 '유지보수율': 'maintenance_ratio',
 '자본화연도': 'intro_year',
 '자본화월': 'intro_month',
 '자본화일': 'intro_date',
 '자산내역': 'asset_name',
 '자산번호': 'id',
 '자산상세내역': 'asset_details',
 '자산클래스': 'asset_class_id',
 '자산클래스명': 'asset_class_name',
 '전기말감가상각누계액': 'prev_depre_cost',
 '총취득원가': 'original_price',
 '코스트센터': 'depart_id',
 '코스트센터명': 'depart_name'}

column_rev_dict = {'asset_class_id': '자산클래스',
 'asset_class_name': '자산클래스명',
 'asset_details': '자산상세내역',
 'asset_name': '자산내역',
 'business_area': '사업영역',
 'cate_id': '분류',
 'cate_name': '분류명',
 'cost_depart_id': '담당코스트센타',
 'cost_depart_name': '담당코스트센터명',
 'depart_id': '코스트센터',
 'depart_name': '코스트센터명',
 'id': '자산번호',
 'intro_date': '자본화일',
 'intro_month': '자본화월',
 'intro_year': '자본화연도',
 'maintenance_cost': '유지보수금액',
 'maintenance_ratio': '유지보수율',
 'original_price': '총취득원가',
 'prev_depre_cost': '전기말감가상각누계액',
 'section_name': '본부/부문',
 'serial_no': 'Serial No.',
 'sub_id': '보조번호',
 'val': '수  량',
 'warranty_period': 'Warranty기간',
 'years': '내용연수'}

In [5]:
df = df.rename(column_dict, axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 25 columns):
id                   1848 non-null float64
sub_id               1848 non-null float64
asset_class_id       1848 non-null float64
asset_class_name     1848 non-null object
asset_name           1848 non-null object
asset_details        601 non-null object
cate_id              1846 non-null object
cate_name            1846 non-null object
intro_year           1848 non-null float64
intro_month          1848 non-null object
intro_date           1848 non-null object
val                  1848 non-null float64
section_name         1848 non-null object
depart_id            1848 non-null float64
depart_name          1848 non-null object
business_area        1848 non-null object
cost_depart_id       1848 non-null float64
cost_depart_name     1848 non-null object
years                1848 non-null float64
serial_no            5 non-null object
maintenance_cost     0 non-null float64
maintenance_ratio    0 non-null float64
warranty_period      0 non-null float64
original_price       1849 non-null float64
prev_depre_cost      1848 non-null float64
dtypes: float64(13), object(12)
memory usage: 361.4+ KB

In [7]:
def randomise_id_name(df, colname):
    num = len(df[colname+'_id'].unique())
    df[colname+'_id'] = np.random.choice(num, size=len(df))
    name_list = df[colname+'_name'].unique()
    df[colname+'_name'] = df.apply(lambda row: name_list[row[colname+'_id']], axis=1)
    return df    

df = randomise_id_name(df, 'asset_class')
df = randomise_id_name(df, 'cate')
df = randomise_id_name(df, 'depart')
df = randomise_id_name(df, 'cost_depart')

In [8]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>sub_id</th>
      <th>asset_class_id</th>
      <th>asset_class_name</th>
      <th>asset_name</th>
      <th>asset_details</th>
      <th>cate_id</th>
      <th>cate_name</th>
      <th>intro_year</th>
      <th>intro_month</th>
      <th>...</th>
      <th>business_area</th>
      <th>cost_depart_id</th>
      <th>cost_depart_name</th>
      <th>years</th>
      <th>serial_no</th>
      <th>maintenance_cost</th>
      <th>maintenance_ratio</th>
      <th>warranty_period</th>
      <th>original_price</th>
      <th>prev_depre_cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45008031.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2015.0</td>
      <td>2015.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1363754.0</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45008032.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>전산장비</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>9</td>
      <td>소프트웨어-기타</td>
      <td>2015.0</td>
      <td>2015.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1363754.0</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45008033.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>15</td>
      <td>영상/음향장비</td>
      <td>2015.0</td>
      <td>2015.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1363754.0</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45008034.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>외장형 리와인더</td>
      <td>NaN</td>
      <td>7</td>
      <td>소프트웨어-사내App개발</td>
      <td>2015.0</td>
      <td>2015.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>2</td>
      <td>IT인프라운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>383872.0</td>
      <td>-287904.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>45008035.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>컴퓨터소프트웨어(4년)</td>
      <td>N-LG-13Z940-i5</td>
      <td>NaN</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2015.0</td>
      <td>2015.01.</td>
      <td>...</td>
      <td>BA11</td>
      <td>3</td>
      <td>IT개발팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1161717.0</td>
      <td>-871288.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 25 columns</p>
</div>

In [9]:
def fake_date():
    year = str(np.random.randint(low=2013, high=2019, size=1)[0])
    month = str(np.random.randint(low=1, high=13, size=1)[0]).zfill(2)
    day = str(np.random.randint(low=1, high=29, size=1)[0]).zfill(2)
    if year + '.' + month + '.' + day > '2018.11.06':
        year = str(int(year) - (np.random.randint(1, 4, size=1)[0]))
    return year + '.' + month + '.' + day

df.intro_date = df.intro_date.apply(lambda x: fake_date())
df['intro_month'] = df.intro_date.apply(lambda _datetime: _datetime[:8])
df.intro_year = df.intro_date.apply(lambda _datetime: _datetime[:4])

In [10]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>sub_id</th>
      <th>asset_class_id</th>
      <th>asset_class_name</th>
      <th>asset_name</th>
      <th>asset_details</th>
      <th>cate_id</th>
      <th>cate_name</th>
      <th>intro_year</th>
      <th>intro_month</th>
      <th>...</th>
      <th>business_area</th>
      <th>cost_depart_id</th>
      <th>cost_depart_name</th>
      <th>years</th>
      <th>serial_no</th>
      <th>maintenance_cost</th>
      <th>maintenance_ratio</th>
      <th>warranty_period</th>
      <th>original_price</th>
      <th>prev_depre_cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45008031.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2015</td>
      <td>2015.09.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1363754.0</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45008032.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>전산장비</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>9</td>
      <td>소프트웨어-기타</td>
      <td>2014</td>
      <td>2014.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1363754.0</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45008033.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>15</td>
      <td>영상/음향장비</td>
      <td>2015</td>
      <td>2015.12.</td>
      <td>...</td>
      <td>BA07</td>
      <td>0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1363754.0</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45008034.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>외장형 리와인더</td>
      <td>NaN</td>
      <td>7</td>
      <td>소프트웨어-사내App개발</td>
      <td>2015</td>
      <td>2015.04.</td>
      <td>...</td>
      <td>BA07</td>
      <td>2</td>
      <td>IT인프라운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>383872.0</td>
      <td>-287904.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>45008035.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>컴퓨터소프트웨어(4년)</td>
      <td>N-LG-13Z940-i5</td>
      <td>NaN</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2013</td>
      <td>2013.06.</td>
      <td>...</td>
      <td>BA11</td>
      <td>3</td>
      <td>IT개발팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1161717.0</td>
      <td>-871288.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 25 columns</p>
</div>

In [11]:
def fake_price():
    return 10000 * np.random.randint(low=1, high=100, size=1)[0] + np.random.randint(low=1, high=10000, size=1)[0]

df.original_price = df.original_price.apply(lambda x: fake_price())

In [12]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>sub_id</th>
      <th>asset_class_id</th>
      <th>asset_class_name</th>
      <th>asset_name</th>
      <th>asset_details</th>
      <th>cate_id</th>
      <th>cate_name</th>
      <th>intro_year</th>
      <th>intro_month</th>
      <th>...</th>
      <th>business_area</th>
      <th>cost_depart_id</th>
      <th>cost_depart_name</th>
      <th>years</th>
      <th>serial_no</th>
      <th>maintenance_cost</th>
      <th>maintenance_ratio</th>
      <th>warranty_period</th>
      <th>original_price</th>
      <th>prev_depre_cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45008031.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2015</td>
      <td>2015.09.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>329934</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45008032.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>전산장비</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>9</td>
      <td>소프트웨어-기타</td>
      <td>2014</td>
      <td>2014.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>807236</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45008033.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>P-ZM400라벨프린터</td>
      <td>프린터</td>
      <td>15</td>
      <td>영상/음향장비</td>
      <td>2015</td>
      <td>2015.12.</td>
      <td>...</td>
      <td>BA07</td>
      <td>0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>205872</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45008034.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>외장형 리와인더</td>
      <td>NaN</td>
      <td>7</td>
      <td>소프트웨어-사내App개발</td>
      <td>2015</td>
      <td>2015.04.</td>
      <td>...</td>
      <td>BA07</td>
      <td>2</td>
      <td>IT인프라운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>476956</td>
      <td>-287904.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>45008035.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>컴퓨터소프트웨어(4년)</td>
      <td>N-LG-13Z940-i5</td>
      <td>NaN</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2013</td>
      <td>2013.06.</td>
      <td>...</td>
      <td>BA11</td>
      <td>3</td>
      <td>IT개발팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>204961</td>
      <td>-871288.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 25 columns</p>
</div>

In [13]:
asset_name_list = df.asset_name.unique()
num = len(asset_name_list)

df['asset_name'] = df.asset_name.apply(lambda x: asset_name_list[np.random.randint(0, num, 1)[0]])

In [14]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>sub_id</th>
      <th>asset_class_id</th>
      <th>asset_class_name</th>
      <th>asset_name</th>
      <th>asset_details</th>
      <th>cate_id</th>
      <th>cate_name</th>
      <th>intro_year</th>
      <th>intro_month</th>
      <th>...</th>
      <th>business_area</th>
      <th>cost_depart_id</th>
      <th>cost_depart_name</th>
      <th>years</th>
      <th>serial_no</th>
      <th>maintenance_cost</th>
      <th>maintenance_ratio</th>
      <th>warranty_period</th>
      <th>original_price</th>
      <th>prev_depre_cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>45008031.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>개인정보검색 솔루션 Filter 서버[IT인프라운영팀-17-0015]</td>
      <td>프린터</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2015</td>
      <td>2015.09.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>329934</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45008032.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>전산장비</td>
      <td>REALSMART MOTION BLUR PRO 5</td>
      <td>프린터</td>
      <td>9</td>
      <td>소프트웨어-기타</td>
      <td>2014</td>
      <td>2014.01.</td>
      <td>...</td>
      <td>BA07</td>
      <td>1</td>
      <td>영상제작2팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>807236</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45008033.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>DLP 교체 및 L7 방화벽 도입_L7 방화벽_Paloalto #1</td>
      <td>프린터</td>
      <td>15</td>
      <td>영상/음향장비</td>
      <td>2015</td>
      <td>2015.12.</td>
      <td>...</td>
      <td>BA07</td>
      <td>0</td>
      <td>IT개발운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>205872</td>
      <td>-1022816.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45008034.0</td>
      <td>0.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>유연한 몰 재획립 IT기획</td>
      <td>NaN</td>
      <td>7</td>
      <td>소프트웨어-사내App개발</td>
      <td>2015</td>
      <td>2015.04.</td>
      <td>...</td>
      <td>BA07</td>
      <td>2</td>
      <td>IT인프라운영팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>476956</td>
      <td>-287904.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>45008035.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>컴퓨터소프트웨어(4년)</td>
      <td>LYNC FRONT END 서버#2 [IT기획팀-15-0198],[IT개발팀-15-...</td>
      <td>NaN</td>
      <td>11</td>
      <td>전산장비-서버주변기기</td>
      <td>2013</td>
      <td>2013.06.</td>
      <td>...</td>
      <td>BA11</td>
      <td>3</td>
      <td>IT개발팀</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>204961</td>
      <td>-871288.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 25 columns</p>
</div>

In [16]:
df = df.rename(column_rev_dict, axis=1)
df.to_excel('./depreciation_cost_2019.xlsx')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 25 columns):
자산번호          1848 non-null float64
보조번호          1848 non-null float64
자산클래스         1850 non-null int64
자산클래스명        1236 non-null object
자산내역          1846 non-null object
자산상세내역        601 non-null object
분류            1850 non-null int64
분류명           1723 non-null object
자본화연도         1850 non-null object
자본화월          1850 non-null object
자본화일          1850 non-null object
수  량          1848 non-null float64
본부/부문         1848 non-null object
코스트센터         1850 non-null int64
코스트센터명        1829 non-null object
사업영역          1848 non-null object
담당코스트센타       1850 non-null int64
담당코스트센터명      1549 non-null object
내용연수          1848 non-null float64
Serial No.    5 non-null object
유지보수금액        0 non-null float64
유지보수율         0 non-null float64
Warranty기간    0 non-null float64
총취득원가         1850 non-null int64
전기말감가상각누계액    1848 non-null float64
dtypes: float64(8), int64(5), object(12)
memory usage: 361.4+ KB